.main-container {
    margin: 50px;
    /*background-color: red;*/
    box-sizing: border-box;
}

.sorting-bars  {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    /*align-content: flex-end;*/
    flex-wrap: nowrap;
    /*height: 70vh;*/
    /*background-color: red;*/
}

