.control_board {
    /*background-color: pink;*/
    /*border: 1px solid #3F51B5;*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    /*margin-top: 10px;*/
    flex-direction: column;
    justify-content: space-evenly;
    height: 70vh;
    padding-right: 25px;
    padding-left: 15px;
    box-sizing: border-box;

}

.button_group {
    display: flex;
    justify-content: space-evenly;
}

.control_style {
    /*border: 1px solid #3F51B5;*/
    /*padding-top: 10px;*/
    /*padding-bottom: 10px;*/
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);*/
}

.select_style {
    width: 100%;
}

.slider {
    width: 100%;
}